<?xml version="1.0" encoding="UTF-8" ?>
<widget
    xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "blanky"
    version     = "0.0.12" >

    <name>Little George's Blanky</name>
    <description>
        An interactive, animated storybook.
    </description>
    <author href="" email="musnit@gmail.com">
        Aidan Musnitzky
    </author>

    <gap:platform name="ios" />

    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.13" />

    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="landscape" />
    <preference name="Orientation" value="landscape" />
    <gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" overwrite="true">
      <array>
          <string>UIInterfaceOrientationLandscapeLeft</string>
          <string>UIInterfaceOrientationLandscapeRight</string>
      </array>
    </gap:config-file>
    <preference name="fullscreen" value="true" />
    <preference name="deployment-target" value="7.0" />

</widget>
